{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home Page | qvantel</title>
      <link rel="stylesheet" href="{% static 'css/Home.css' %}">
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body style="background:url('https://www.hec.edu/sites/default/files/styles/newsroom_media/public/2019-06/Business%20focus-%20banner%20new%20website%20.png?itok=UjepEaEX'); background-repeat:no-repeat; background-size: 1400px 800px;">
      <nav>
        
         <div class="logo">
           qvantel
         </div>
         <div class="nav-items">
            <li><a href="home">Home</a></li>
            <li><a href="add_emp">Add Employee</a></li>
            <li><a href="all_emp">View Employee Details</a></li>
            <li><a href="filter_emp">Search Employee</a></li>
         </div>
      </nav>
   </body>
</html>