<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View_Employee | qvantel</title>
  <link rel="stylesheet" href="View_Employee.css">
  <link rel="stylesheet" href="Home.css">
</head>


<body>
    <nav>
        <div class="menu-icon">
           <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
           qvantel
        </div>
        <div class="nav-items">
           <li><a href="#">Home</a></li>
           <li><a href="#">Add Employee</a></li>
           <li><a href="#">View Employee Details</a></li>
        </div>
        <div class="search-icon">
           <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
           <span class="fas fa-times"></span>
        </div>
        <form action="#">
           <input type="search" class="search-data" placeholder="Search" required>
           <button type="submit" class="fas fa-search"></button>
        </form>
     </nav>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Employee_Id</th>
          <th>Employee_Name</th>
          <th>Show_Details</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>Ravi Ranjan Prakash</td>
          <td><a href="#" class="btn">View</a></td>
        </tr>

        <tr>
          <td>2</td>
          <td>Ram Sundar Singh</td>
          <td><a href="#" class="btn">View</a></td>
        </tr>

        <tr>
          <td>3</td>
          <td>Rajiv Kumar Singh</td>
          <td><a href="#" class="btn">View</a></td>
        </tr>

        <tr>
          <td>4</td>
          <td>Hetansh Kumar Singh</td>
          <td><a href="#" class="btn">View</a></td>
        </tr>



      </tbody>
    </table>
  </div>

</body>
</html>