{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View_Employee | qvantel</title>
  <link rel="stylesheet" href="{% static 'css/View_Employee.css' %}">
  <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>


<body style="background-color:rgba(89, 146, 238, 0.34);">
    <nav>
        <div class="menu-icon">
           <span class="fas fa-bars"></span>
        </div>
        <div class="logo">
           qvantel
        </div>
        <div class="nav-items">
           <li><a href="home">Home</a></li>
           <li><a href="add_emp">Add Employee</a></li>
           <li><a href="all_emp">View Employee Details</a></li>
           <li><a href="filter_emp">Search Employee</a></li>
        </div>
     </nav>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Employee_Id</th>
          <th>Employee_Name</th>
          <th>Show_Details</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td><a href="#" class="btn">View</a></td>
        </tr>

        



      </tbody>
    </table>
  </div>

</body>
</html>